<input type="hidden" id="driver" data-remote=<%= all_registers_path %>>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-custom">
        <div class="panel-heading">All Registrations</div>
        <div class="panel-body">
          <table class="table" id="registers_table">
            <thead>
              <th>Student Name</th>
              <th>Student Sat Score</th>
              <th>College Name</th>
              <th>College Fees</th>
              <th>Registered on</th>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
