<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-form flat" style="background-color: #fff;" >
    <div class="panel-body">
        <span>Name:</span>
        <%= f.text_field :name, :class => "form-control flat", :required => true %>
        <span>Sex:</span>
        <%= f.text_field :sex, :class => "form-control flat", :required => true %>
        <span>Date of Birth:</span>
        <%= f.text_field :dob, :class => "form-control flat", :required => true, id: 'dob_field' %>
        <span>Age:</span>
        <%= f.number_field :age, :class => "form-control flat", :required => true, id: 'age_field' %>
        <span>Current School:</span>
        <%= f.text_field :current_school, :class => "form-control flat", :required => true %>
        <span>Current Level:</span>
        <%= f.text_field :current_level, :class => "form-control flat", :required => true %>
        <span>Country:</span>
        <%= f.text_field :country, :class => "form-control flat", :required => true %>
        <span>Sat Score:</span>
        <%= f.number_field :sat_score, :class => "form-control flat", :required => true %>
        <span>Colleges:</span>
        <%= select_tag "collegeIds", options_from_collection_for_select(@colleges, "id", "name", @registered_colleges), :include_blank => true, :class => "form-control flat", :multiple => 'multiple', :multiple => true %>
      <div class="actions">
        <%= f.submit class: "btn btn-danger btn-panel" %>
        <%= link_to 'Cancel', students_path %>
      </div>
    </div>
  </div>
<% end %>
