<div class="container-fluid">
  <div class="row">
  <div class="col-md-12">
  <div class="panel panel-default panel-custom">
    <div class="panel-heading">Listing Students
      <%= link_to 'New Student', new_student_path, class: "pull-right btn-sm btn-danger btn-panel" %>
    </div>
    <div class="panel-body">
      <% unless @students.present? %>
        <h3>There are no student records available.</h3>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Sex</th>
              <th>Age</th>
              <th>Dob</th>
              <th>Current school</th>
              <th>Current level</th>
              <th>Country</th>
              <th>Sat score</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @students.each do |student| %>
              <tr>
                <td><%= link_to student.name, student %></td>
                <td><%= student.sex %></td>
                <td><%= student.age %></td>
                <td><%= student.dob %></td>
                <td><%= student.current_school %></td>
                <td><%= student.current_level %></td>
                <td><%= student.country %></td>
                <td><%= student.sat_score %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>

<br>

