<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default lifted-box flat">
        <div class="panel-heading">
          <h4>Showing details of <%= @student.name %></h4>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>Name:</td>
              <td><%= @student.name %></td>
            </tr>

            <tr>
              <td>Sex:</td>
              <td><%= @student.sex %></td>
            </tr>

            <tr>
              <td>Age:</td>
              <td><%= @student.age %></td>
            </tr>

            <tr>
              <td>Dob:</td>
              <td><%= @student.dob %></td>
            </tr>

            <tr>
              <td>Current school:</td>
              <td><%= @student.current_school %></td>
            </tr>

            <tr>
              <td>Current level:</td>
              <td><%= @student.current_level %></td>
            </tr>

            <tr>
              <td>Country:</td>
              <td><%= @student.country %></td>
            </tr>

            <tr>
              <td>Sat score:</td>
              <td><%= @student.sat_score %></td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href=<%= students_path %>><i class="fa fa-arrow-circle-o-left fa-3"></i></a>
          <a href=<%= edit_student_path(@student) %>><i class="fa fa-pencil-square-o fa-3"></i></a>
          <a href=<%= @student %> data-method="delete" rel="nofollow" data-confirm="Are you sure?"><i class="fa fa-trash-o"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel lifted-box panel-custom flat">
        <div class="panel-heading flat">
          Applied Colleges:
        </div>
        <div class="panel-body flat">
          <ul class="list-group">
            <% @registered_colleges.each do |college| %>
              <li class="list-group-item">
                <span class="badge"><%= college.registers.count %></span>
                <%= link_to college.name, college_path(college) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

