<%= form_for(@mentor) do |f| %>
  <% if @mentor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mentor.errors.count, "error") %> prohibited this mentor from being saved:</h2>

      <ul>
      <% @mentor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-form flat" style="background-color: #fff;" >
    <div class="panel-body">
      <span>Name:</span>
      <%= f.text_field :name, :class => "form-control flat", :required => true %>
      <span>Sex:</span>
      <%= f.text_field :sex, :class => "form-control flat", :required => true %>
      <span>DOB:</span>
      <%= f.text_field :dob, :class => "form-control flat", :required => true, id: 'dob_field' %>
      <span>Age:</span>
      <%= f.number_field :age, :class => "form-control flat", :required => true, id: 'age_field' %>
      <span>Bio:</span>
      <%= f.text_field :bio, :class => "form-control flat", :required => true %>
      <span>Image:</span>
      <%= f.text_field :image, :class => "form-control flat", :required => true %>
      <%= f.submit class: "btn btn-danger btn-panel" %>
    </div>
  </div>
<% end %>
