<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    <div class="panel panel-default panel-custom">
      <div class="panel-heading">Listing Mentors
        <%= link_to 'New Mentor', new_mentor_path, class: "pull-right btn-sm btn-danger btn-panel" %>
      </div>
      <div class="panel-body">
        <% unless @mentors.present? %>
          <h3>There are no Mentor records available.</h3>
        <% else %>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Sex</th>
                <th>Age</th>
                <th>Dob</th>
                <th>Bio</th>
                <th>Image</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @mentors.each do |mentor| %>
                <tr>
                  <td><%= link_to mentor.name, mentor %></td>
                  <td><%= mentor.sex %></td>
                  <td><%= mentor.age %></td>
                  <td><%= mentor.dob %></td>
                  <td><%= mentor.bio %></td>
                  <td><%= mentor.image %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

