<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default lifted-box flat">
        <div class="panel-heading">
          <h4>Showing details of <%= @mentor.name %></h4>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>Name:</td>
              <td><%= @mentor.name %></td>
            </tr>

            <tr>
              <td>Sex:</td>
              <td><%= @mentor.sex %></td>
            </tr>

            <tr>
              <td>Age:</td>
              <td><%= @mentor.age %></td>
            </tr>

            <tr>
              <td>Dob:</td>
              <td><%= @mentor.dob %></td>
            </tr>

            <tr>
              <td>Bio:</td>
              <td><%= @mentor.bio %></td>
            </tr>

            <tr>
              <td>Image:</td>
              <td><%= @mentor.image %></td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href=<%= mentors_path %>><i class="fa fa-arrow-circle-o-left fa-3"></i></a>
          <a href=<%= edit_mentor_path(@mentor) %>><i class="fa fa-pencil-square-o fa-3"></i></a>
          <a href=<%= @mentor %> data-method="delete" rel="nofollow" data-confirm="Are you sure?"><i class="fa fa-trash-o"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
