<%= form_for(@college) do |f| %>
  <% if @college.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@college.errors.count, "error") %> prohibited this college from being saved:</h2>

      <ul>
      <% @college.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-form flat" style="background-color: #fff;" >
    <div class="panel-body">
      <span>Name:</span>
      <%= f.text_field :name, :class => "form-control flat", :required => true %>
      <span>Country:</span>
      <%= f.text_field :country, :class => "form-control flat", :required => true %>
      <span>Sat Minimum Score:</span>
      <%= f.number_field :sat_min_score, :class => "form-control flat", :required => true %>
      <span>Sat Maximum Score:</span>
      <%= f.number_field :sat_max_score, :class => "form-control flat", :required => true %>
      <span>Tuition Fees:</span>
      <%= f.number_field :tuition_fees, :class => "form-control flat", :required => true %>
      <%= f.submit class: "btn btn-danger btn-panel"%>
      <%= link_to 'Cancel', colleges_path %>
    </div>
  </div>
<% end %>
