<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    <div class="panel panel-default panel-custom">
      <div class="panel-heading">Listing Colleges
        <%= link_to 'New College', new_college_path, class: "pull-right btn-sm btn-danger btn-panel" %>
      </div>
      <div class="panel-body">
        <% unless @colleges.present? %>
          <h3>There are no College records available.</h3>
        <% else %>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Sat min score</th>
                <th>Sat max score</th>
                <th>Tuition fees</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @colleges.each do |college| %>
                <tr>
                  <td><%= link_to college.name, college %></td>
                  <td><%= college.country %></td>
                  <td><%= college.sat_min_score %></td>
                  <td><%= college.sat_max_score %></td>
                  <td><%= college.tuition_fees %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate @colleges %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

