<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default lifted-box flat">
        <div class="panel-heading">
          <h4>Showing details of <%= @college.name %></h4>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td>Name:</td>
              <td><%= @college.name %></td>
            </tr>
            <tr>
              <td>Country:</td>
              <td><%= @college.country %></td>
            </tr>
            <tr>
              <td>Sat min score:</td>
              <td><%= @college.sat_min_score %></td>
            </tr>
            <tr>
              <td>Sat max score:</td>
              <td><%= @college.sat_max_score %></td>
            </tr>
            <tr>
              <td>Tuition fees:</td>
              <td><%= @college.tuition_fees %></td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a href=<%= colleges_path %>><i class="fa fa-arrow-circle-o-left fa-3"></i></a>
          <a href=<%= edit_college_path(@college) %>><i class="fa fa-pencil-square-o fa-3"></i></a>
          <a href=<%= @college %> data-method="delete" rel="nofollow" data-confirm="Are you sure?"><i class="fa fa-trash-o"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
