@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "jquery.ui.all";



.navbar {
  background-color: #3D9AEB;
  .navbar-header a{
    color: #FFF;
  }
  ul li:hover{
    background-color: #096ABA;
  }
}

.navlink {
  color: #FFF !important;
}

.panel-custom {
  border-radius: 0px;
  .panel-heading {
    background-color: #E7E7E7;
    border-radius: 0px;
  }
}

.btn-panel {
  border-radius: 0px;
  padding: 11px 75px;
  margin-right: -15px;
  margin-top: -10px;
}

.btn-panel:hover {
  text-decoration: none;
}

.panel-form {
  border: solid 1px #e7e7e7;
  border-top: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  .panel-body {
    padding: 15px;
    input, select {
      margin: 5px;
      height: 45px;
      font-size: 20px;
    }
    span {
      font-size: 20px;
    }
  }
}

.flat {
  border-radius: 0;
}

.lifted-box {
  border: solid 1px #e7e7e7;
  border-top: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 0;
  margin-top: 15px;
}

.panel-footer a {
  padding: 5px;
  font-size: 20px;
}
