<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'ENROLL', root_path, class: 'navbar-brand navlink' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Students', students_path, class: 'navlink' %></li>
        <li><%= link_to 'Colleges', colleges_path, class: 'navlink' %></li>
        <li><%= link_to 'Mentors', mentors_path, class: 'navlink' %></li>
        <li><%= link_to 'Registrations', registers_path, class: 'navlink' %></li>
      </ul>
    </div>
  </div>
</nav>
