<!DOCTYPE html>
<html>
<head>
  <title>Enroll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'common/header' %>
<div class="container-fluid">
<%= flash_messages %>
<%= yield %>
</div>
</body>
</html>
